<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="InterLayerLib.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <InterLayerLib.Properties.Settings>
            <setting name="AutomationServers" serializeAs="String">
                <value>AutomationServers.xml</value>
            </setting>
            <setting name="LogFileName" serializeAs="String">
                <value>log.txt</value>
            </setting>
            <setting name="Ltl" serializeAs="String">
                <value>Ltl.xml</value>
            </setting>
            <setting name="VerificationTools" serializeAs="String">
                <value>VerificationTools.xml</value>
            </setting>
            <setting name="Substitutions" serializeAs="String">
                <value>Substitutions.xml</value>
            </setting>
        </InterLayerLib.Properties.Settings>
    </userSettings>
</configuration>