<div #toust class="toust">
    <!-- <div class="toust zTopTopPlus1" *ngFor="let toust of tousts; let i = index">

    </div> -->
</div>
<div class="bodyFader zHighestPlus1" *ngIf="activeDialogs.length > 0 || loginScreenVisible || documentNameDialogVisible"></div>
<div class="modal fade in zTop" [style.display]="activeDialogs.length > 0?'block':'none'">
    <div class="modal-dialog">
        <div *ngIf="activeDialogs.length > 0" class="modal-content">
            <div class="modal-header">
                <button *ngIf="activeDialogs[0].cancelCallback != null" type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="activeDialogDismiss(-1);">&times;</button>
                <h3 class="modal-title">
                    <i *ngIf="activeDialogs[0].dialogType == _DialogType.multichoice" class="icon icon-badge-help color-primary"></i>
                    <i *ngIf="activeDialogs[0].dialogType == _DialogType.confirmation" class="icon icon-badge-alert color-primary"></i>
                    <i *ngIf="activeDialogs[0].dialogType == _DialogType.warning" class="icon icon-badge-warning color-warning"></i>
                    <i *ngIf="activeDialogs[0].dialogType == _DialogType.error" class="icon icon-badge-warning color-error"></i> {{activeDialogs[0].title}}
                </h3>
            </div>
            <div class="modal-body">
                <p>{{activeDialogs[0].text}}</p>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <ng-container *ngFor="let option of activeDialogs[0].options; let i = index">
                        <div [ngClass]="{'col-md-6':  i != (activeDialogs[0].options.length - 1) || i % 2 != 0, 'col-md-12': i == (activeDialogs[0].options.length - 1) && i % 2 == 0}">
                            <button type="button" [ngClass]="{'btn': true, 'btn-block': true, 'btn-primary': activeDialogs[0].defaultOptionIdx == null || activeDialogs[0].defaultOptionIdx == i, 'btn-secondary': activeDialogs[0].defaultOptionIdx != null && activeDialogs[0].defaultOptionIdx != i}"
                                (click)="activeDialogDismiss(i);">{{option.text}}</button>
                        </div>
                    </ng-container>
                    <div class="col-md-12" *ngIf="activeDialogs[0].options.length == 0">
                        <button type="button" class="btn btn-block btn-primary" (click)="activeDialogDismiss(-2)">OK</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade in zTop" [style.display]="loginScreenVisible?'block':'none'">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="bodyFader zTopPlus1" *ngIf="logingIn"></div>
            <div class="logingInInfo zTopTop processing-fill processing-fill-secondary" *ngIf="logingIn">
                <h3>Logging in ...</h3>
            </div>
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="loginScreenDismiss();">&times;</button>
                <h3 class="modal-title">
                    <i class="icon icon-user color-primary"></i> Sign in
                </h3>
            </div>
            <div class="modal-body">
                <fieldset [ngClass]="{'form-group' : true, 'has-error' : loginUserNameError != null}">
                    <label for="formUserName">Username</label>
                    <input #loginUserName type="text" class="form-control" id="formUsername" placeholder="EID" (change)="loginUserNameChange();">
                    <p *ngIf="loginUserNameError != null" class="text-muted">
                        {{loginUserNameError}}</p>
                </fieldset>
                <fieldset [ngClass]="{'form-group' : true, 'has-error' : loginPasswordError != null}">
                    <label for="formPassword">Password <span style="color:red;">(So far not relevant - put any at least 8 characters)</span></label>
                    <input #loginPassword type="password" class="form-control" id="formPassword" (change)="loginPasswordChange();">
                    <p *ngIf=" loginPasswordError != null" class="text-muted ">
                        {{loginPasswordError}}</p>
                </fieldset>
            </div>
            <div class="modal-footer">
                <div class="row ">
                    <div class="col-md-6">
                        <button type="button" class="btn btn-block btn-primary" (click)="userSignInClick(); ">Sign in</button>
                    </div>
                    <div class="col-md-6">
                        <button type="button" class="btn btn-block btn-secondary" (click)="loginScreenDismiss();">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<div class="modal fade in zTop" [style.display]="documentNameDialogVisible?'block':'none'">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="documentNameDialogDismiss();">&times;</button>
                <h3 class="modal-title">
                    <i class="icon icon-document color-primary"></i> Document name
                </h3>
            </div>
            <div class="modal-body">

                <fieldset [ngClass]="{'form-group' : true, 'has-error' : documentNameError != null}">
                    <label for="formUserName">Document name</label>
                    <div style="display: flex">
                        <input #documentNameInput style="flex: 1 1 content" type="text" class="form-control" id="formDocumentName" placeholder="test" (change)="documentNameChange();">
                        <select #documentExtensionSelect style="flex: 0 0 content" id="documentExtension" class="form-control">
                            <option selected>.clp</option>
                            <option>.ears</option>
                        </select>
                    </div>
                    <p *ngIf="documentNameError != null" class="text-muted">
                        {{documentNameError}}</p>
                </fieldset>
            </div>
            <div class="modal-footer">
                <div class="row ">
                    <div class="col-md-6">
                        <button type="button" class="btn btn-block btn-primary" (click)="createDocumentClick(); ">Create</button>
                    </div>
                    <div class="col-md-6">
                        <button type="button" class="btn btn-block btn-secondary" (click)="documentNameDialogDismiss();">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





<div class="file-view-window fade in zAlmostTop " [style.display]="fileViewVisible? 'flex': 'none' ">
    <div class="file-view-control ">
        <h3 class="file-view-title ">{{fileViewTitle?fileViewTitle:" "}}</h3>
        <i class="icon icon-close btn-close-file-view " (click)="closeFileView() "></i>
    </div>
    <div class="file-view-content ">
        <iframe id="fileViewIFrame"></iframe>
        <div *ngIf="fileViewLoadingContent " class="zAlmostTopPlus1 processing-fill processing-fill-secondary-seethru ">
            <h1 style="position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%); ">Loading ...</h1>
        </div>
    </div>

</div>

<div [class.disabled]="activeDialogs.length> 0">
    <div #mt class="navbar-fixed-top">
        <nav class="navbar">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">
                        <img src="assets/honeywell-logo.red.svg" class="img-responsive" (click)="test()">
                        <span>VerifyAll</span>
                    </a>
                </div>
                <div class="collapse navbar-collapse" id="example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li [class.active]="scrolledOnRequirements">
                            <a (click)="scrollToRequirements()">{{editableItemsName}}</a>
                        </li>
                        <li [class.active]="scrolledOnResults" *ngIf="verificationResults.cols.length > 0">
                            <a (click)="scrollToResults()">Verification results</a>
                        </li>
                        <li [class.active]="scrolledOnTestCases" *ngIf="testCases.length > 0 || (testCasesRequestFile != null && testCasesRequestFile.archiveStructure != null) || generatingTestCasesNow || uploadingTestCasesRequestFileNow">
                            <a (click)="scrollToTestCases()">Test cases</a>
                        </li>
                        <li class="dropdown border-left">
                            <a href="#" data-toggle="dropdown" class="dropdown-toggle">
                                <span [ngClass]="{'badge profile' : true, 'offline' : _serverService.user == null, 'online' : _serverService.user != null}">
                                    <i class="icon icon-user"></i>
                                </span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="padded strong text-left">
                                    <h4>{{_serverService.user == null?"Not signed":_serverService.user}}</h4>
                                    <!-- <small class="blue">Company</small> -->
                                </li>
                                <li role="separator" class="divider"></li>
                                <!-- <li><a href="#"><i class="icon icon-edit"></i> Edit My Profile</a></li>
                                <li><a href="#"><i class="icon icon-locked"></i> Manage Password</a></li>
                                <li><a href="#"><i class="icon icon-settings"></i> Manage My Applications</a></li>
                                <li><a href="#"><i class="icon icon-message"></i> Manage Email Notifications</a></li>
                                <li><a href="#"><i class="icon icon-doc-test"></i> Customer Setup Form</a></li>
                                <li><a href="#"><i class="icon icon-document"></i> End User Statement of Certificate</a></li>
                                <li><a href="#"><i class="icon icon-doc-certificate"></i> Sales Use Tax Certificate</a></li>
                                <li role="separator" class="divider"></li> -->
                                <li class="padded"><a (click)="_serverService.user == null?loginScreenInvoke():logOut()" [ngClass]="{'btn' : true, 'btn-primary' : _serverService.user == null, 'btn-secondary' : _serverService.user != null}">{{_serverService.user == null?"Sign In":"Sign Out"}}</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="navBarMarginOccluder zHigh"></div>
    </div>

    <div #ws id="workSpace">
        <div #wa id="workArea">
            <table class="table table-striped" (mouseleave)="mouseLeavedReqsTable()">
                <thead>
                    <tr>
                        <th class="reqsColumn sticky zHigh" [style.top.px]="navMenuHeight">
                            {{editableItemsName}}
                        </th>
                        <th class="sticky zHigh" [style.top.px]="navMenuHeight">
                            {{(activeFileChanged?"*":"") + activeFile}}
                        </th>
                        <th class="sticky zHigh" [style.top.px]="navMenuHeight">
                            <button class="btn btn-icon table-action-menu-btn" type="button">
                                <i class="icon icon-doc-add btn-table btn-table-primary" (click)="createFileClick()">
                                    <span>Create new document</span>
                                </i>
                            </button>
                        </th>
                        <th class="sticky zHigh" [style.top.px]="navMenuHeight">
                            <form id="uploadFileForm">
                                <input id="image-file" type="file" accept=".clp,.ears,.c,.zip" class="loadFile" (change)="uploadFile($event.target.files)" multiple>
                            </form>
                            <button class="btn btn-icon table-action-menu-btn" type="button">
                                <i class="icon icon-file-upload btn-table btn-table-primary" (click)="uploadFileClick()">
                                    <span>Upload document</span>
                                </i>
                                
                            </button>
                        </th>
                        <th class="sticky zHigh" [style.top.px]="navMenuHeight" *ngIf="activeFile.length > 0">
                            <button class="btn btn-icon table-action-menu-btn" type="button">
                                <i class="icon icon-file-download btn-table btn-table-primary" (click)="downloadFileClick()">
                                    <span>Download current document</span>
                                </i>
                            </button>
                        </th>
                        <th class="sticky zHigh" [style.top.px]="navMenuHeight" *ngIf="activeFile.length > 0">
                            <button class="btn btn-icon table-action-menu-btn" type="button">
                                <i class="icon icon-close btn-table btn-table-close" (click)="closeFileClick()">
                                    <span>Close current document</span>
                                </i>
                            </button>
                        </th>

                    </tr>
                </thead>
                <tbody>
                    <div *ngIf="requirements.length > 0" class="lastAddNewReqPlaceholder"></div>
                    <ng-container *ngFor="let req of requirements; let i = index">
                        <tr (mouseenter)="mouseEnteredReqsTableRow(i)">
                            <td [attr.colspan]="activeFile.length > 0 ? '5' : '3'">
                                <app-colorable-text-area [(text)]="requirements[i].text" [highlightingItems]="requirements[i].highlights" [changeTextEvent]="requirements[i].changeTextEvent" [focusEvent]="requirements[i].focusEvent" (userTextInput)="requirementChangedByUser($event, i)"
                                    [editable]="true"></app-colorable-text-area>
                            </td>
                            <td class="horizontalyCenterText">
                                <span *ngIf="i == 0" [hidden]="mouseReqIndex != 0">
                                    <i class="icon icon-add addNewReqTop actionIcon zMediumHigh" (click)="requestAddRequirement(0)"></i>
                                </span>
                                <i class="icon icon-delete actionIcon" (click)="requestDeleteRequirement(i)"></i>
                                <span [hidden]="mouseReqIndex != i && mouseReqIndex != i + 1">
                                    <i class="icon icon-add addNewReqBottom actionIcon zMediumHigh" (click)="requestAddRequirement(i+1)"></i>
                                </span>
                            </td>
                        </tr>
                    </ng-container>
                    <div *ngIf="requirements.length > 0" class="lastAddNewReqPlaceholder"></div>
                </tbody>
                <div [ngClass]="{'processing-fill processing-fill-table' : loadingRequirementsNow}"></div>
            </table>
        </div>
        <div #ra id="resultsArea">
            <table id="verificationTable" class="table table-striped">
                <thead>
                    <tr *ngIf="analyzingNow && verificationResults.cols.length == 0">
                        <th class="sticky zHigh">
                            Verification results
                        </th>
                    </tr>
                    <tr>
                        <th class="sticky zHigh" [style.top.px]="navMenuHeight" *ngFor="let col of verificationResults.cols; let i = index">
                            {{col}}
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let row of verificationResults.rows">
                        <ng-container *ngFor="let cell of row">
                            <td [ngClass]="cell.flags">{{cell.value}}</td>
                        </ng-container>
                    </tr>
                </tbody>
                <div [ngClass]="{'processing-fill processing-fill-table' : analyzingNow}"></div>
            </table>
        </div>
        <div #tca id="testCasesArea">
            <table id="testCasesTable" class="table table-striped">
                <thead>
                    <tr *ngIf="testCases.length > 0 || (testCasesRequestFile != null && testCasesRequestFile.archiveStructure != null) || generatingTestCasesNow || uploadingTestCasesRequestFileNow">
                        <th class="sticky zHigh" [style.top.px]="navMenuHeight" colspan="2">Test cases<span style="text-transform: none;font-style: italic;font-weight: normal;color: #CCCCCC">{{this.generatingTestCasesElapsedSeconds?" - " + this.testCasesStatus + (this.generatingTestCasesNow?" - elapsed ":" in ") + this.generatingTestCasesElapsedSeconds + "s":""}}</span></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngIf="testCasesRequestFile != null && testCasesRequestFile.archiveStructure != null" [ngClass]="{'border_top': (testCasesRequestFile.archiveStructure != null && testCasesRequestFile.archiveStructure.unpackedView), 'border-side': testCasesRequestFile.archiveStructure != null && testCasesRequestFile.archiveStructure.unpackedView}">
                        <td><i [ngClass]="{'icon' : true, 'icon-caret-down': !testCasesRequestFile.archiveStructure.unpackedView, 'icon-caret-up': testCasesRequestFile.archiveStructure.unpackedView}" (click)="testCasesRequestFile.archiveStructure.unpackedView = !testCasesRequestFile.archiveStructure.unpackedView"></i>                            <b>{{testCasesRequestFile.fileName}}</b> {{(testCasesRequestFile.archiveStructure && testCasesRequestFile.archiveStructure.unpackedView)?testCasesRequestFile.archiveStructure.activeDirectoryPath:""}} - INPUTS FOR VERIFICATION</td>
                        <td style="text-align: right;">
                            <a class="btn btn-secondary" [href]="'/api/FileDownload/?fileName=' + testCasesRequestFile.fileName + '&session=' + _serverService.sessionGuid" download>
                                Download
                                <i class="icon icon-download"></i>
                            </a>
                        </td>
                    </tr>
                    <ng-container *ngIf="testCasesRequestFile != null && testCasesRequestFile.archiveStructure != null && testCasesRequestFile.archiveStructure.unpackedView">
                        <tr *ngIf="!testCasesRequestFile.archiveStructure.rootDirectory" [ngClass]="{'border_bottom': testCasesRequestFile.archiveStructure.activeDirectoryFiles.length == 0, 'border-side': true, 'doubleclick-area': true}" (dblclick)="testCasesRequestFile.archiveStructure.goDirectoryUp()">
                            <td class="primary-backgroud-on-tr-hover">
                                <i class="icon icon-undo"></i> ..
                            </td>
                            <td class="primary-backgroud-on-tr-hover shrunk-to-minimum" style="text-align: right;">
                                <button class="btn btn-icon table-action-menu-btn button-appear-on-tr-td-hover" type="button">
                                    <i class="icon btn-table btn-table-secondary icon-search" (click)="testCasesRequestFile.archiveStructure.goDirectoryUp()">
                                        <span>GO FOLDER UP</span>
                                    </i>
                                </button>
                            </td>
                        </tr>
                        <ng-container *ngFor="let archiveFile of testCasesRequestFile.archiveStructure.activeDirectoryFiles; let adfIdx = index">
                            <tr [ngClass]="{'border_bottom': adfIdx == testCasesRequestFile.archiveStructure.activeDirectoryFiles.length - 1, 'border-side': true, 'doubleclick-area': true}" (dblclick)="archiveFile.subFiles == null?openFileFromArchive(testCasesRequestFile.archiveStructure.fileName, testCasesRequestFile.archiveStructure.activeDirectoryPath + archiveFile.fileName, adfIdx):testCasesRequestFile.archiveStructure.goDirectorySelect(adfIdx)">
                                <td class="primary-backgroud-on-tr-hover">
                                    <i [ngClass]="{'icon' : true, 'icon-folder': archiveFile.subFiles != null, 'icon-document': archiveFile.subFiles == null}"></i> {{archiveFile.fileName}}
                                </td>
                                <td class="primary-backgroud-on-tr-hover shrunk-to-minimum" style="text-align: right;">
                                    <button class="btn btn-icon table-action-menu-btn button-appear-on-tr-td-hover" type="button">
                                        <i [ngClass]="{'icon' : true, 'btn-table' : true, 'btn-table-secondary' : true, 'icon-search' : archiveFile.subFiles != null, 'icon-doc-search' : archiveFile.subFiles == null}" (click)="archiveFile.subFiles == null?openFileFromArchive(testCasesRequestFile.archiveStructure.fileName, testCasesRequestFile.archiveStructure.activeDirectoryPath + archiveFile.fileName, adfIdx):testCasesRequestFile.archiveStructure.goDirectorySelect(adfIdx)">
                                            <span>{{archiveFile.subFiles == null?"OPEN FILE":"GO INTO FOLDER"}}</span>
                                        </i>
                                    </button>
                                </td>
                            </tr>
                        </ng-container>
                    </ng-container>
                    <ng-container *ngFor="let testCase of testCases; let i = index">
                        <tr [ngClass]="{'border_top': (testCase.archiveStructure != null && testCase.archiveStructure.unpackedView), 'border-side': testCase.archiveStructure != null && testCase.archiveStructure.unpackedView}">
                            <td><i *ngIf="testCase.archiveStructure != null" [ngClass]="{'icon' : true, 'icon-caret-down': !testCase.archiveStructure.unpackedView, 'icon-caret-up': testCase.archiveStructure.unpackedView}" (click)="testCase.archiveStructure.unpackedView = !testCase.archiveStructure.unpackedView"></i>                                <b>{{testCase.fileName}}</b> {{(testCase.archiveStructure && testCase.archiveStructure.unpackedView)?testCase.archiveStructure.activeDirectoryPath:""}} {{testCase.info.length > 0?"- " + testCase.info:""}}</td>
                            <td style="text-align: right;">
                                <a class="btn btn-secondary" [href]="'/api/FileDownload/?fileName=' + testCase.fileName + '&session=' + _serverService.sessionGuid" download>
                                    Download
                                    <i class="icon icon-download"></i>
                                </a>
                            </td>
                        </tr>
                        <ng-container *ngIf="testCase.archiveStructure != null && testCase.archiveStructure.unpackedView">
                            <tr *ngIf="!testCase.archiveStructure.rootDirectory" [ngClass]="{'border_bottom': testCase.archiveStructure.activeDirectoryFiles.length == 0, 'border-side': true, 'doubleclick-area': true}" (dblclick)="testCase.archiveStructure.goDirectoryUp()">
                                <td class="primary-backgroud-on-tr-hover">
                                    <i class="icon icon-undo"></i> ..
                                </td>
                                <td class="primary-backgroud-on-tr-hover shrunk-to-minimum" style="text-align: right;">
                                    <button class="btn btn-icon table-action-menu-btn button-appear-on-tr-td-hover" type="button">
                                        <i class="icon btn-table btn-table-secondary icon-search" (click)="testCase.archiveStructure.goDirectoryUp()">
                                            <span>GO FOLDER UP</span>
                                        </i>
                                    </button>
                                </td>
                            </tr>
                            <ng-container *ngFor="let archiveFile of testCase.archiveStructure.activeDirectoryFiles; let adfIdx = index">
                                <tr [ngClass]="{'border_bottom': adfIdx == testCase.archiveStructure.activeDirectoryFiles.length - 1, 'border-side': true, 'doubleclick-area': true}" (dblclick)="archiveFile.subFiles == null?openFileFromArchive(testCase.archiveStructure.fileName, testCase.archiveStructure.activeDirectoryPath + archiveFile.fileName, adfIdx):testCase.archiveStructure.goDirectorySelect(adfIdx)">
                                    <td class="primary-backgroud-on-tr-hover">
                                        <i [ngClass]="{'icon' : true, 'icon-folder': archiveFile.subFiles != null, 'icon-document': archiveFile.subFiles == null}"></i> {{archiveFile.fileName}}
                                    </td>
                                    <td class="primary-backgroud-on-tr-hover shrunk-to-minimum" style="text-align: right;">
                                        <button class="btn btn-icon table-action-menu-btn button-appear-on-tr-td-hover" type="button">
                                            <i [ngClass]="{'icon' : true, 'btn-table' : true, 'btn-table-secondary' : true, 'icon-search' : archiveFile.subFiles != null, 'icon-doc-search' : archiveFile.subFiles == null}" (click)="archiveFile.subFiles == null?openFileFromArchive(testCase.archiveStructure.fileName, testCase.archiveStructure.activeDirectoryPath + archiveFile.fileName, adfIdx):testCase.archiveStructure.goDirectorySelect(adfIdx)">
                                                <span>{{archiveFile.subFiles == null?"OPEN FILE":"GO INTO FOLDER"}}</span>
                                            </i>
                                        </button>
                                    </td>
                                </tr>
                            </ng-container>
                        </ng-container>

                    </ng-container>
                </tbody>
                <div [ngClass]="{'processing-fill processing-fill-table' : generatingTestCasesNow || uploadingTestCasesRequestFileNow}"></div>
            </table>
        </div>
        <div #baa id="ButtonAnalyzeArea" class="zHighest">
            <button id="ButtonAnalyze" class="btn btn-primary" *ngIf="(requirements.length > 0 || (testCasesRequestFile != null && testCasesRequestFile.archiveStructure != null)) && !(analyzingNow || generatingTestCasesNow)" (click)="analyzeClick()">Verify</button>
            <button id="ButtonAnalyze" class="btn btn-secondary processing-fill processing-fill-secondary" (click)="stopAnalyzeClick()" *ngIf="analyzingNow || generatingTestCasesNow">
                <i class="icon icon-close"></i>
                Stop verifying
            </button>
        </div>
        <div #saa class="substituted"></div>
        <div class="itemsChangedWarning" *ngIf="this.analysisNotForCurrentItems && (verificationResults.cols.length > 0 || testCases.length > 0)">
            <i class="icon icon-badge-alert warningIcon"></i> Analysis might not correspond to items in editor!
        </div>
    </div>
</div>


<router-outlet></router-outlet>